<section>
    <div class="poke-img-container" 
        [ngStyle]="{'background-color':  pokemon.getPokemonLightColor() }">
        <header>
            <a [routerLink]="['']">
                <img 
                class="icon-header"
                src="../../../../../assets/images/close_material_icons.svg" 
                alt=""
                >
            </a>
        </header>
        <figure class="poke-container">
            <img class="poke-img" src="{{ this.pokemon.getPokemonImage() }}" alt="">
        </figure>
    </div>
    <div class="poke-container-data">
        <p class="poke-text">{{ this.pokemon.getPokemonName() | uppercase }}</p>
        <app-poke-status-graph [pokemon]="this.pokemon"></app-poke-status-graph>
    </div>
</section>
