@import "../../../../../assets/styles/styles.scss";

.poke {
    &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        &-stats {
            display: flex;
            gap: 1.5rem;
            width: fit-content;
            padding: 1rem;
            border: 1px solid $bg-color-white;
            border-radius: 1rem;
        }
    }

    &-text,
    &-stats {
        font: $normal-12;
        text-align: center;
        color: $bg-color-white;
    }

    &-stats {
        font: $normal-16;
    }
}

.graph {

    &-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: .5rem;
        width: 36px;
    }

    &-bar {
        width: 1rem;
        height: 100px;
    } 
}