<div class="poke-container">
    <p class="poke-text"> Stats </p>
    <div 
        class="poke-container-stats"
        [ngStyle]="{'border-color':  pokemon.getPokemonNormalColor() }">
        <div class="graf-bar" [ngStyle]="{'background-color':  pokemon.getPokemonNormalColor() }"></div>
        <div class="graf-bar" [ngStyle]="{'background-color':  pokemon.getPokemonNormalColor() }"></div>
        <div class="graf-bar" [ngStyle]="{'background-color':  pokemon.getPokemonNormalColor() }"></div>
        <div class="graf-bar" [ngStyle]="{'background-color':  pokemon.getPokemonNormalColor() }"></div>
        <div class="graf-bar" [ngStyle]="{'background-color':  pokemon.getPokemonNormalColor() }"></div>
        <div class="graf-bar" [ngStyle]="{'background-color':  pokemon.getPokemonNormalColor() }"></div>
    </div>
</div>
