@import '../../../../../assets/styles/styles.scss';

/*Estrutura*/
.pokeball {
	&-container {
		visibility: hidden;
		position: absolute;
		top: 0;
		min-width: 360px;
		width: 100%;
		height: 100vh;
	}

	&-top {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		background-color: $bg-color-red;
		position: absolute;
		top: 0;
		z-index: 2;
		width: 100%;
		height: 0;
		border-radius: 0 0 2rem 2rem;
		border-bottom: 1rem solid $bg-color-black;
	}

	&-bottom {
		background-color: $bg-color-white;
		position: absolute;
		bottom: 0;
		z-index: 1;
		width: 100%;
		height: 0;
		border-radius: 2rem 2rem 0 0;
		border-top: 1rem solid $bg-color-black;
	}
}

.black-circle-pokeball {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $bg-color-black;
	position: relative;
	top: 3rem;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
}

.white-circle-pokeball {
	background-color: $bg-color-white;
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
}

/*Animação*/
.pokeball {
	&-container {
		animation: pokeball-container 2.75s 1;
	}

	&-top {
		animation: pokeball-top 3s 1;
	}

	&-bottom {
		animation: pokeball-bottom 3s 1;
	}
}

.white-circle-pokeball {
	animation: pokeball-circle 0.75s 3;
}

@keyframes pokeball-container {
	0% {
		visibility: visible;
	}

	100% {
		visibility: visible;
	}
}

@keyframes pokeball-top {
	0% {
		height: 55%;
	}

	80% {
		height: 55%;
	}

	100% {
		height: 0;
	}
}

@keyframes pokeball-bottom {
	0% {
		height: 65%;
	}

	80% {
		height: 65%;
	}

	100% {
		height: 0;
	}
}

@keyframes pokeball-circle {
	0% {
		background-color: $bg-color-red;
	}

	25% {
		background-color: $bg-color-red;
	}

	100% {
		background-color: $bg-color-white;
	}
}